<p><b>General Rules:</b><br>
<ul><li>Crews are allowed to participate, provided all participating members are college students, albeit not necessarily from same college.</li> 
<li>Participants may use more than one song in their performance.</li>
<li>Obscenity of any kind is not allowed and will lead to immediate disqualification.</li>
<li>Any kind of fluid, flame or heavy object is not allowed on stage.</li>
<li>Pre-recorded music should be brought in a pen drive  in .mp3 format only.</li>
<li>Last date for registration: 3rd February, 2017</li>
<li>Genre: Open</li></ul><br>
<b>Eliminations Rules:</b><br>
<ul>
	<li>Time Limit 4-8 minutes</li>
	<li>The dance to be performed in the elimination round should be a part of the final performance</li>
</ul><br>
<b>Finals Rules:</b><br>
<ul><li>Censor round will be held on the day of the event prior to the event.</li>
<li>Usage of props is allowed. These have to be brought by the teams themselves but the organizers hold the discretion of allowing it on stage.</li>
<li>Time Limit: 12mins</li>
<li>Teams must carry at least one backup of their pre-recorded music.</li>
<li>Time limit must strictly be observed. Failure to keep within the time limit will result in a penalty.</li></ul>
<b>Judging Criteria:</b><br>
<ul><li>Choreography</li>
<li>Energy</li> 
<li>Synchronization</li>
<li>Stage utilization</li> 
<li>Costumes</li>
<li>Innovation</li> 
<li>Overall impact</li></ul></p>
