<p><b>General Rules:</b>
<ul><li>The doodle can be a cohesive design, or doodling can be used to create portraits, animals, objects,landscapes or text, the patterning conveying texture and dimension.</li>
<li>Theme: An Odyssey of Dreams.</li>
<li>All the work must be original.</li>
<li>All entries must be submitted as digital files. There is no limit to the number of entries and it must be mailed to kjscesymphony@somaiya.edu under the subject "Doodle Making" along with: 
<ul><li>Name</li>
<li>Phone Number</li> 
<li>College Name</li></ul>
<li>Entries should be last submitted by 5th February, 2017.</li></ul>
<br>
<b>Final Rules:</b>
<ul><li>Artist are required to use only a black pen, permanent marker, or a sharpie and a paper(minimum A4).</li>
<li>Theme is open to interpretation.</li>
<li>Image requirements: JPG/JPEG file.</li></ul>
<br>
<b>Judging Criteria:</b>
<ul><li>Creativity</li>
<li>Theme incorporation</li>
<li>Doodle relevance</li> 
<li>Complexity</li>
<li>Neatness</li> 
<li>Overall Impact.</li></ul>
</p>
