<p>
	General Rules: 
	<ul>
		<li>Event Category: One team per branch</li>
		<li>Number of members per team: 7-12 members</li>
		<li>Compulsory participation: 2 from FY, SY and TY each</li>
		<li>Time limit: maximum 16 minutes which includes 1 minute for setup and clearance (inclusive).</li>
		<li>Theme:  An Odyssey of Dreams. Theme is open to interpretation.</li>
		<li>Three mics will be provided. Props will not be provided.</li>
		<li>Only one non-participating assistance will be allowed at the music controlling console.</li>
		<li>Use of props, script and music should be notified five days before the Symphony Day 1.</li>
		<li>Illustrations are not allowed.</li>
	</ul>
</p>
