<p>Symphony in itself, is all about the rhythm and music. Symphony takes pride in providing a platform for the upcoming singers to prove their worth and gain recognition for their talents.<br> 
This year too, we'll be doing the same for every such artist out there. So, come be a part of Symphony Idol!<br>
<br>
<b>Team Size:</b> Solo <br>
<b>Rounds:</b> Online Elimination + Finals</p>
<br>
<div class="">
	<h4 style="">Presented By</h4> 
<img src="images/sma.png" alt=""  style="width:30%; " class="img-responsive">

</div>
