
<p><b>Entry Fee:</b>  INR 399<br>
<br>
<b>Prizes Worth:</b> INR 8000</p>
<p>
Grand winner of the contest gets:
<br>
A chance to interact and sing to Shankar Mahadevan,
An instructor-led course from SMA worth 8999 INR
<br>

1st runner up gets:
<br>
A self-study course from SMA, “HMS Super pack” worth 4999 INR
<br>
2nd runner up gets: <br>	
A self-study course from SMA, “HMS Super pack”  worth 2999 INR
<br>	
Top 10 participants will get a certificate with Shankar’s signature
</p>
<h4>To register click <a href="http://www.shankarmahadevanacademy.com/contest/symphony17/" target="_blank">here</a></h4>
