<p><b>General Rules:</b>
<ul><li>Both Hindi and English songs are allowed. Original Compositions are also allowed.</li>
<li>Failure to keep within the time limit will result in a penalty.</li></ul>
<br>
<b>Elimination Rules:</b>
<ul>
<li>The maximum duration of the rendition should not exceed 6 minutes.</li>
<li>File size should not exceed 15MB</li>
<li>Acceptable file format: mp3, m4a, wma, amr, wav</li>
<li>Final Date for submission of video: 2nd February, 2017 3pm IST.</li>
</ul>
<br>
<b>Final Rules:</b>
<ul><li>Time Limit: 8 minutes including sound setup and clearing.</li>
<li>Multiple songs can be sung.</li>
<li>If any instrumental audio is required then the participant should get it in a pendrive in .mp3 format only.</li>
<li>No instruments will be provided by us.</li>
<li>Acoustic instruments are allowed.</li>
<li>No electric instruments are allowed.</li>
<li>Five mics in all will be provided for the vocalist and instruments.</li></ul>
<br>
<b>Judging Criteria:</b>
<ul><li>Pitch</li>
<li>Song</li>
<li>Song selection</li> 
<li>Stage presence</li>
<li>Overall performance</li>
<li>Voice modulation</li>
<li>Rhythm.</li></ul></p>
