<p><b>General Rules:</b>
<ul><li>Both Hindi and English songs are allowed. Original Compositions are also allowed.</li>
<li>Failure to keep within the time limit will result in a penalty.</li></ul>
<br>
<b>Elimination Rules:</b>
<ul><li>Video/Audio to be mailed to kjscesymphony@somaiya.edu  under the subject “Symphony Unplugged”.</li>
<li>Final Date for submission of video: 1st February, 2017.</li>
<li>Video: MP4 format / Audio: MP3 Format, not more than 5 minutes in length with your name, phone no. and college name.</li></ul>
<br>
<b>Final Rules:</b>
<ul><li>Time Limit: 8 minutes including sound setup and clearing.</li>
<li>Multiple songs can be sung.</li>
<li>If any instrumental audio is required then the participant should get it in a pendrive in mp3. Format only.</li>
<li>No instruments will be provided by us.</li>
<li>Acoustic instruments are allowed.</li>
<li>No electric instruments are allowed.</li>
<li>Five mics in all will be provided for the vocalist and instruments.</li></ul>
<br>
<b>Judging Criteria:</b>
<ul><li>Pitch, song, song selection, stage presence, overall performance,voice modulation,Rhythm.</li></ul></p>
