<p><b>General Rules:</b>
<ul><li>Participants can send word document containing only text, describing your photo or thematic interpretation.</li>
<li>Participants are allowed to adjust the hue/saturation, brightness/contrast of a picture. Photo-morphing, manipulations or local editing is not allowed.</li>
<li>Photos containing the credentials of a participant in the picture or the frame will not be considered.</li>
<li>Photographs without EXIF data will not be accepted.</li></ul>
<br>
<b>Final Rules:</b>
<ul><li>Theme: Forced Perspective.</li>
<li>Theme is open to interpretation.</li>
<li>The edited photograph(if any of the above mentioned are done) should be uploaded on facebook tagging “KJSCE Symphony” and “KJSCE Shutterbugs” as well as mailed to kjscesymphony@somaiya.edu under the subject”Photography” along with the original photograph.</li>
<li>Last date to submit the photograph is 5th February,2017.</li>
<li>There will be 2 prizes based on judges choice and people’s choice.</li>
<li>People’s Choice will be awarded on basis of maximum Likes.</li></ul>
<br>
<b>Judging Criteria:</b>
<ul><li>Relevance to Theme, Creativity, Visual Impact.</li></ul>
</p>
