<p>
	Putting together the elements of rock, funk, folk, pop and Indian classical music, Symphony 2017 along with Coke Studio Nights presents Lagori!!
The Bangalore based band made up of 5 unique musicians (each crazier than the other) brings in its own flavours and styles to the table.
Young, energetic, full of surprises and utter madness on stage, Lagori has, over the last 4 years, brought thousands to their feet at their concerts. 
 In a short time, Lagori has travelled all over the country and their music has won them a growing and passionate fan base, both online and offline!
The band has been on the National hit series The The Dewarists in 2013 and on Kappa TV in 2014. Their first album, creatively named "Lagori", was released in August 2013 and is a collection of soulful songs like "Saiyyan" and "River Song"... Angsty Rock singles like "Darbari" and their most popular (near-anthem) single "Boom Shankar"!
Catch the madness live at Symphony '17.

</p>