<p><b>General Rules:</b>
<ul><li>Language of performance should be Hindi/English. However short sub passages in other languages are allowed.</li>
<li>Any plagiarized content or any offensive content directed towards any political party, any religion or any community in particular will lead to disqualification.</li>
<li>Use of Props is allowed.</li>
<li>You are not allowed to play any recorded music using mobile phones or tapes.Only Live Music. Teams have to bring their own Instruments. No Electric Instruments.</li>
<li>Teams are expected to perform in an open air venue, with audience on all sides.</li>
<li>Use of any props which affects the stage is not allowed.</li>
<li>Teams have to mail the following things at kjscesymphony@somaiya.edu</li> 
<ul><li>Synopsis of the play.</li>
<li>Prod List (List of production/prop material and music instruments brought by the teams).</li></ul>                          
<li>The subject of the mail should be “College Name_Play Name”. The deadline for submission is 1 Feb, 2017 11:59 PM</li>
<li>Last Date for Registration: 1st February, 2017.</li></ul>
<br>
<b>Elimination Rules:</b>
<ul><li>Teams must perform a part of the street play that they will perform in the finals.</li> 
<li>Time Limit:-10 minutes (including setup and clearance time).</li></ul>
<br>
<b>Final Rules:</b>
<ul><li>Teams must perform an extended version of the same play which they had performed in the eliminations.</li>
<li>Time Limit :- 17 minutes (including setup and clearance time).</li></ul>
<br>
<b>Judging Criteria:</b>
<ul><li>Acting, Voice (sync, modulation, diction), Script, Crowd Interaction, Overall impact.</li></ul></p>
