<p>Calling out all the Amateur Bands out there! <br>
Here<span style="font-style: sans-serif">'</span>s your chance to rise and shine and show the world your musical masterclass!<br>
It<span style="font-style: sans-serif">'</span>s the battle of the beats, the clash of chords, and it<span style="font-style: sans-serif">'</span>s bigger, meaner and louder than ever!<br>
This is your chance to achieve your dreams and set the stage on fire!<br>
<br>
ROUNDS: Eliminations + Finals<br>
<br>
TEAM SIZE: 3-8 members (including assistants if any)</p>
