<p><b>General Rules:</b>
<br>
<ul><li>Team must consist of a minimum of one vocalist and at least two different instruments (Different guitars counted separately), and one percussion instrument.</li>
<li>Pre-recorded music is not allowed.</li>
<li>Failure to keep within time limit will result in penalty.</li> 
<li>Last Date for registration: 1st February, 2017</li></ul>
<br>
<br>
<b>Elimination Rules:</b>
<br>
<ul><li>Bands can perform any song of their choice.</li> 
<li>Time Limit: 15 minutes including setup, clearance and sound check.</li></ul>
<br>
<b>Final Rules:</b>
<br>
<ul><li>Bands can perform any number of songs.</li>
<li>Bands have the freedom to perform the songs played during the Elims for the Finals as well.</li>
<li>Time Limit: 25 minutes including setup, clearance and sound check.</li></ul>
<br>
<b>Judging Criteria:</b>
<br>
<ul><li>Quality of:<br> 
<ul><li>Vocals</li> 
<li>Quality of instrumental</li>
<li>Tightness</li> 
<li>Sync</li>
<li>Choice of song</li>
<li>Overall performance</li> 
<li>Creativity</li></ul></ul>
</p>
