<p><b>General Rules:</b><br>
<ul><li>Remixes and Mashups aren't allowed.</li>
<li>Beat-boxing and other contemporary arts are allowed.</li>
<li>Acoustic props are not allowed.</li> 
<li>Controllers and rekordbox are not allowed.</li>
<li>Laptops aren't allowed.</li>
<li>Last date for registration: 1st February, 2017.</li></ul><br>
<b>Elimination Rules:</b><br>
<ul><li>Time Limit: 4-10mins.</li>
<li>No bootleg mixes are allowed.</li>
<li>The participants will have to mail the following to: kjscesymphony@somaiya.edu:</li>
<ul><li>The track-list which is used in the mix.</li>
<li>The mix in .mp3 format.</li>
<li>Participant Name</li>
<li>Phone Number 
<li>College name</li></ul></ul><br>
<b>Final Rules:</b><br>
<ul><li>The tracklist which is going to be used for finals must be mailed to kjscesymphony@somaiya.edu  at least before 2 days before the  event.</li>
<li>Bootleg mixes are allowed.</li>
<li>All mixing must be done on the spot.</li>
<li>Participants are required to bring their own headphones.</li>
<li>Songs should be brought only in pendrive/CD in mp3. Or .wav format only.</li>
<li>Participants must carry at least one backup of the tracks in a CD/pendrive.</li>
<li>Time Limit: 7 mins</li></ul><br>
<b>Judging Criteria:</b><br>
<ul><li>Creativity</li>
<li>Clean mixing skills</li> 
<li>Track Selection</li> 
<li>Overall Performance</li></ul></p>
