<p><b>General Rules:</b><br>
<ul><li>Each participant is allowed to send a maximum of 2 entries. Participants are not allowed to collaborate and send in a common entry.</li>
<li>The story must be written in English.</li>
<li>No form of plagiarism will be tolerated. The entry must be an unpublished work.</li>
<li>An Alternate ending is necessary. Participant may select any movie/sitcom/book/anime from the given list. Please refer to the list below:</li>
<ul><li><a href= "https://docs.google.com/document/d/1FUCSxJXmKtUWbcNjiOLckzp6xvewnv9pCmbViMFBodA/edit?usp=sharing" target="_blank"> List of Sitcoms/Movies/Books/Anime </li></ul> </a>. 
<li>Illustrations are not allowed.</li>
<li>Participants are allowed to create upto 2 new characters provided the characters are given a proper background.</li>
<li>For sitcoms the alternate ending can be done to any season as well.</li></ul>
<br>
<b>Final Rules:</b><br>
<ul><li>Entries must be emailed as PDF file to kjscesymphony@somaiya.edu under the subject "Alternate Ending", along with the name, part/episode/season of the movie/sitcom/book/anime.</li>
<li>Last date for submission of entries: 5th February, 2017.</li>
<li>Word Limit: 300 to 2000 words.</li>
<li>Email must contain name of participant, email address, college name, phone number and title of the entry.</li></ul>
<br>
<b>Judging Criteria:</b><br>
<ul><li>Originality of Idea</li>
<li>Execution</li>
<li>Form(Language & Narrative Structure)</li></ul>
</p>
