<p><b>General Rules:</b><br>
<ul><li>Each Participant is allowed to send in more than one entry. Participants are not allowed to collaborate and send in a common entry.</li>
<li>The story must be written in English.</li>
<li>No form of plagiarism will be tolerated. The entry must be an unpublished work.</li>
<li>An Alternate ending is necessary.Participant may select any movie/sitcom/book/anime from the given list. Please refer to the website www.kjsce-symphony.org for the list.</li>
<li>Illustrations are not allowed.</li>
<li>Participants are allowed to create upto 2 new characters provided the characters are given a proper background.</li>
<li>For Sitcoms the alternate ending can be done to any season/episode.</li></ul>
<br>
<b>Final Rules:</b><br>
<ul><li>Entries must be emailed as PDF file to kjscesymphony@somaiya.edu under the subject “Alternate Ending”. Along with the name ,part/episode/season of the movie/ sitcom/ book/ anime.</li>
<li>Last date for submission of entries: 5th February, 2017.</li>
<li>Word Limit: Minimum: 300 ; Maximum : 2000</li>
<li>Email must contain name of participant, email address, college name, phone number and title of the entry.</li></ul>
<br>
<b>Judging Criteria:</b><br>
<ul><li>Originality of Idea, Execution, Form (Language, Narrative Structure)</li>
</p>
