<p>
	"Real talent shines through regardless of how many others there are around you." 
Maruti Suzuki Colors of Youth partnered by MTV, a unique competition hunting for India's most talented and versatile youth and bringing out their inner best to limelight. With the mega prize being the glamourous Maruti Suzuki Vitara Brezza students participated in large numbers to demonstrate their talents. It is judged by Celebrity Judges of immense caliber like Miss Lauren Gottlieb and Mr Benny Dayal. The Mumbai City Round was held in the KJ Somaiya College of Engineering on the 9th of January 2016. 


</p>