<p>
	General Rules: 
	<ul>
		<li>Event Category: One team per branch</li>
		<li>Number of members per team: 3-7. Rotation is allowed.</li>
		<li>Compulsory participation: A team can comprise of members from any year.</li>
		<li>Time limit: 20 minutes including sound check, instruments tuning  etc.</li>
		<li>Only basic mic, speakers and a drum kit will be provided to the participants. Amplifiers, instruments, etc, to be brought on your own.</li>
		<li>Instrumental for 1 min is necessary</li>
	</ul>
</p>
