<p><b>General Rules:</b><br>
<ul><li>Each team can prepare only one dish which can be an appetizer, a beverage or a dessert.</li>
<li>Each team gets to keep all the proceeds from the sales.</li>
<li>Each team should expect at least a crowd of 50 people.</li>
<li>Teams must carry their own caps, aprons, table cloth and gloves. Caps and aprons are compulsory.</li>
<li>Only the team members are allowed to cook. If anybody else is found helping the team in cooking, the team will be disqualified.</li>
<li>Incase if team needs any extra ingredients, only one member from your team will be allowed to go out to get it.</li>
<li>All the teams must bring their own cooktops, utensils and any other material required. Organisers will not be responsible for any damage to these.</li>
<li>Teams have to prepare the same dish during Symphony that they prepared in the elimination round.</li>
<li>Last date for registration is 2nd February,2017.</li></ul>
<br>
<b>Elimination Rules:</b>
<ul><li>The teams have to prepare the dish earlier and bring it to the venue. However there will be an oven provided if the dish needs to be served hot.</li>
<li>There will also be a question-answer round based on the dish prepared.</li>
<br>
<b>Final Rules.</b>
<li>Time: 1 hour will be allotted for preparation and 4 hours for serving the food.</li>
<li>Each team will be provided 2 Plug Points and a Work Table.</li>
<li>Ingredients to be brought by the participants.</li></ul>
<br>
<b>Judging Criteria:</b>
<ul><li>50% on Sales, 50% on judges' Scores.</li>
<li>Judges' scores will be based on:</li> 
<ul><li>Taste of dish</li>
<li>Marketing</li>
<li>Cleanliness</li>
<li>Presentation of dish</li>
<li>Sales of dish</li></ul></ul></p>
