<p>
	Symphony is a rollercoaster where every turn brings about an unexpected twist. To set the ball rolling to this rollercoaster ride, team Symphony presents to you the “Kick Off Eve Concert”. We bring to you an upbeat acoustic band all the way from Kochi, When Chai Met Toast!

To Quote The Hindu on this band-
“Chai Met Toast sounds something like the musical equivalent of a pinball game. Guitar notes, vocals and drum beats do little joyous somersaults inside your head. The band calls its music ‘happy’.”

We couldn’t be more excited to kick-off Symphony with a concert for the first time ever in its history.

Come, Dance and Sing along to the musical tunes of When Chai Met Toast on the 6th February 2017, 5.15PM onwards at the KJSCE Amphitheater
</p>