<p>
	Talent doesn’t discriminate; it knows no biases, it has no preferences. It only celebrates meritocracy. Unearthing the most astounding talent from the length and breadth of Somaiya is Somaiya’s premier talent show, Somaiya’s Got Talent. With only ‘hunar’ taking precedence above all, the latest edition of SGT will bring to you the finest jewels of Somaiya who will wow the viewers with their exceptional abilities
	<br>
	With prizes worth INR 8,000 up for grabs, make sure you do not miss this chance!
	<br>
	The preliminary rounds for the same will take place in the following colleges:
		<br>
<br>
		SK Somaiya College of Arts, Science and Commerce
<br>DATE: 2nd February 2017
<br>TIME: 10am - 12pm<br>
VENUE: Aurobindo Auditorium<br><br>
KJ Somaiya college of Engineering Information Technology
<br>DATE: 31st January 2017<br>
TIME: 4pm - 7pm<br>
VENUE: KJSCEIT Auditorium<br><br>
KJ Somaiya College of Arts and Commerce<br>
DATE: 25th January 2017<br>
TIME: 10am - 2pm<br>
VENUE:Conference Hall<br><br>
KJ Somaiya College of Engineering<br>
DATE: 1st February 2017<br>
TIME: 4pm - 7pm<br>
VENUE: KJSCE Seminar Hall( B114)<br><br>
Win exciting prizes, backstage passes and much more at the registration desk.<br>
For more details contact:<br>
Symphony Public Relations Team: +91 8391289089<br>
</p>