<div class="container-fluid" style="background: url('images/aboutbg.png');background-size:cover; height: 100vh;" id="mobileContainer">
	
<div class="container-fluid" >
	<div class="row">
		<div class="col-md-1 col-lg-1"></div>
		<div class="col-md-10 col-lg-10 col-xs-12 col-sm-12">
			<h1 id="header" style="text-align: center;">About Symphony</h1>
			<p>
				Symphony is the annual cultural festival of KJSCE. Starting out in 1987 as Jamboree, Symphony has come a long way. A mix with all the right ingredients to foster creativity and originality,  Symphony is a rendezvous for all the art geeks, drama buffs, music aficionados, literary fanatics and dance enthusiasts. With huge crowds, exuberant participation and eminent personalities like Ustad Zakir Hussain, Sushant Singh Rajput and several others gracing the festival over the course of its history, Symphony offers an escape from reality and an entry into the world of dreams. 	
			</p>
		</div>
		<div class="col-md-1 col-lg-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1 col-lg-1"></div>
		<div class="col-md-10 col-lg-10 col-xs-12 col-sm-12">
			<h1 id="header" style="text-align: center;">About KJSCE</h1>
			<p>
				Set in the heart of Mumbai, KJSCE is located in the Somaiya Vidyavihar campus. With a total of 34 institutions in its 65 acre campus, Somaiya Vidyavihar has become an educational hub. <br>
			Since its establishment in 1983, KJSCE has grown in leaps and bounds. Boasting of a huge campus and state of the art facilities KJSCE has surpassed many of its contemporaries and  presented itself as one of the premier engineering colleges in Mumbai. And with another feather in its cap in the form of being the only self financed Engineering College to be granted autonomous status whilst maintaining its affiliation to the University of Mumbai. 	
			</p>
		</div>
		<div class="col-md-1 col-lg-1"></div>
	</div>
	
</div>

</div>	

	<!-- backgroundimage -->
<!-- style="background: url('images/aboutbg.png'); background-size: cover;" -->
