 <section style="height: 80vh; background: transparent;">
   <div class="dream" style="">
     <p class="wow fadeInLeft" data-wow-delay="1s" style="font-family: 'Arciform'">An Odyssey of Dreams</p>
   </div>
 </section>

 <section class="wow FadeIn" id="bulb-container" style="position: relative;  background: white;">
    <div class="section-overlay">
     <div  data-wow-delay="0.6s" class="wow fadeIn right-box pull-left">
        <p class=" section-text">So, let the Symphony magic take you over as you discover the order in the chaos.</p>
     </div>
    </div>
    <!-- <img src="/images/section2.jpg" alt="" style="height:auto; width: 100%;">
   -->

    <div class="bulb " style="position: absolute;">
    <img alt="" class="bulb" src="images/bulb_off.svg" style="position: absolute;"> 
    <img alt="" class="wow fadeIn bulb" data-wow-delay="1s" data-wow-duration="2s" src="images/bulb_on.svg" style="position: absolute;">
    </div>
  </section>
 

  <section section="wow fadeIn  " style="position: relative;">
    <img alt="" src="images/section4.jpg" style="height:auto; width: 100%;">

    <div class="section-overlay wow">
    
      <img class="bubble6"  ng-src='images/bubble.svg'/>
      <img class="bubble7"  ng-src='images/bubble.svg'/>
      <img class="bubble1"  ng-src='images/bubble.svg'/>
      <img class="bubble2"  ng-src='images/bubble.svg'/> 
      <img class="bubble3"  ng-src='images/bubble.svg'/>
      <img class="bubble4"  ng-src='images/bubble.svg' />
      <img class="bubble5"  ng-src='images/bubble.svg'/>
     
    </div>
    <!-- <div class="section-overlay">
      <img src="images/whale.svg" alt="" class="whale"/>
    </div> -->
    <div class="section-overlay">
      
       <img class="bubble2"  ng-src='images/note2.svg'/>
       <img class="bubble3"  ng-src='images/note1.svg'/>
       <img class="bubble1"  ng-src='images/note2.svg'/>
      
    </div>


  <div class="section-overlay">
     <div data-wow-delay="0.6s" class="wow fadeIn  right-box pull-right">
        <p class="section-text" style="color:white;"> Of flying donuts and surreal fantasies..</p>
     </div>
    </div>
  </section>


 


  <section section="wow fadeIn" style="position: relative;">
    <img alt="" src="images/section2.jpg" style="height:auto; width: 100%;">

    <div class="section-overlay wow">
      <img class="balloon" data-wow-iteration="1" ng-src='images/balloon.svg'>
      <img class="balloon2" ng-src='images/balloon2.svg'>
    </div>


     <div  class="section-overlay" style="display: table;">
     <div  data-wow-delay="0.6s" class="wow fadeIn  right-box pull-left">
        <p  class=" section-text">A journey defying dimensions and disrupting paradigms</p>
     </div>
         </div>
  
  </section>


  <section class="" style="position: relative;">
    <img alt="" src="images/section1.jpg" style="height:auto; width: 100%;">
  <div class="section-overlay">
     <div class="earth" ng-include="'images/earth.svg'">
      </div>
  </div>
    <div  class="section-overlay" style="display: table;">
     <div  data-wow-delay="0.6s"  class="wow fadeIn right-box pull-right">
        <p  class=" section-text"> This Symphony, we take you on a journey….. A journey through uncharted territories…</p>
     </div>
         </div>
  </section>


  <section style="height: 80vh;">
  
    <div class="container-fluid" style="margin: 15%; margin-top: 3%;">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="container"  style="height: 50vh; text-align: center">
          <rzslider rz-slider-model="Slider.value"
            rz-slider-options="Slider.options"  style="display: inline-block; margin-right: -0%; color: black;"></rzslider>
            </div>     
          </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: center">
          <img ng-src="{{getSrc(Slider.value)}}" alt="" style="border-radius: 50%; width: 70%;">
        </div>
      </div>  
    </div>

     
        
    
     


  </section>


  <section>
    <div class="video">
    <video autoplay="autoplay"  id="my-video" loop="loop" muted=""  poster="images/main_page.jpg" >
        <source src="assets/videos/hero.mp4" type="video/mp4"> 
        <source src="assets/videos/hero.webm" type="video/webm">
    </video>
    <div class="container" style="display: table; height: 100vh;">
         <div class="" style="display: table-cell; text-align: center;
        vertical-align: middle;">
          <img src="images/symphony_logo.svg" style="position:relative; z-index: 2; margin-top: 0%; width:100%;">   
         </div>
        
    </div> </div>
  </section>


  <section id="main" style="height: 50vh;">
  </section>
