<div id="wrapper"  class="" ng-class="getNavStatus()">
       <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
            
                <li ng-repeat="section in sections" ng-click="toggleNav()">
                    <a ng-href="{{section.url}}"   target= "{{section.target}}"  >{{ section.name }}</a>
                </li>
               
            </ul>
        </nav>
    </div>

    <div class="overlay" ng-class="getOverlayStatus()" ng-click="toggleNav()"></div>

    <nav  class="ham-bg nav-footer" style="text-align: center;">
      <div class="">
        <span ng-click="toggleNav()" class=" fa fa-bars fa-2x " style="color: white; outline: 0; position: absolute; left: 10px;margin-top: -0.5%;"> 
        </span>
        <a href="#!/">
        <img src="images/symphony_navbar.png" alt="" style="height: 4.5vh; vertical-align: middle; width: auto; display: inline-block;margin-top: -5px; margin-right:-2%:">
        </a>
        <span class="current-section">{{getCurrentSection()}}</span>
      </div>
    </nav>