<div id="wrapper"  class="" ng-class="getNavStatus()">
       <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            
            
            
            <ul class="nav sidebar-nav">
                <img src="images/Symphony.png" alt="" class="img-responsive" style="padding: 10%;">
            
                <li ng-repeat="section in sections" ng-click="toggleNav()">
                    <a ng-href="{{section.url}}"   target= "{{section.target}}"  >{{ section.name }}</a>
                </li>
               
            </ul>
        </nav>
    </div>

    <div class="overlay" ng-class="getOverlayStatus()" ng-click="toggleNav()"></div>

    <nav  class="ham-bg nav-footer" style="text-align: center;">
      <div class="" style="display: table;">
        <span ng-click="toggleNav()" class=" fa fa-bars fa-2x " style="color: white; outline: 0; position: absolute; left: 10px;"> 
        </span>
        <div  style="display: table-cell; ,min-height: 100%;width: 100%; text-align: center; vertical-align: middle;">
        <a href="#!/"><img src="images/symphony_navbar.png" class="nav-logo" alt="" style="display:inline-block;height: 4.5vh; width: auto;"></a>
        </div>
        <span class="current-section">{{getCurrentSection()}}</span>
      </div>
    </nav>