<div class="container-fluid" style="padding: 3%;">
	<style>
     h2{
        
        font-family: 'Arciform';
     }   
    </style>

                            <!-- Full Width Image Header -->
<header class="header">
                                
       <div class="headline">

            <div class="container-fluid">
							<div class="row">
								<div class="col-lg-5"></div>
                                
                                <div class="col-lg-2" style="text-align: center;"><img class="img-responsive center"  src="images/parvahlogo.png" alt="parvaah" style="width:auto; height:150px; display: inline-block;" ></div>
                                    	<div class="col-lg-5"></div>
							</div>

				</div>
              <h2 style="text-align: center; font-family: 'Arciform';">About</h2>
               <div class="col-lg-1"></div>
              <div class="col-lg-10">
            		<p class="lead" style="font-family: 'PierSans';">
                        Parvaah, is the social initiative of K. J. Somaiya College of Engineering. It is inspired by the idea of giving back to the society. Parvaah was started with a mission to send a message with a social cause through festivals and events. Each year KJSCE undertakes social initiatives based on relevant issues in the society. Abhiyantriki having a diverse crowd and a large reach is an ideal platform for promoting social causes. It created awareness amongst the 4000+ students that attended Symphony, and thousands others in various colleges. Parvaah promises to be a platform to reach out to the mass and bring in the change.
                    	</p>


                              
                                <!-- First Featurette -->

                            <!--     <div class="featurette" id="about">
                                    <img class="featurette-image img-circle img-responsive pull-right" src="images/station.jpg">
                                    <h2 class="featurette-heading">Beautification of Ghatkopar Station
                                        <span class="text-muted"></span>
                                    </h2>
                                    <p class="lead">In this event, Team Parvaah cleaned and undertook the beautification of Ghatkopar station. The drive was jointly organised and managed by <b>Mumbai First</b> and Making A Difference Foundation as a part of the <span style="color:black;">#HamaraStationHamariShaan</span> initiative.
                        Hamara Station Hamari Shaan is the next big step in beautifying the city of dreams. This initiative is <b>backed by Maharashtra CM Devendra Fadnavis, Ratan N. Tata and Amitabh Bachchan.</b> Ghatkopar station was cleaned and the walls along with the staircase painted to raise awareness about social issues.
                        
                        </p> -->
                                



                               <div class="featurette" id="contact">
                                    <img class="featurette-image img-circle img-responsive pull-right" src="images/station.jpg" style="width: auto;height: 300px; "/>
                                   <h2 class="" style="text-align: center; font-family: 'Arciform';">Beautification of Ghatkopar Station
                                        <span class="text-muted"></span>
                                    </h2>
                                     <p class="lead">In this event, Team Parvaah cleaned and undertook the beautification of Ghatkopar station. The drive was jointly organised and managed by <b>Mumbai First</b> and Making A Difference Foundation as a part of the <span style="color:black;">#HamaraStationHamariShaan</span> initiative.
                        Hamara Station Hamari Shaan is the next big step in beautifying the city of dreams. This initiative is <b>backed by Maharashtra CM Devendra Fadnavis, Ratan N. Tata and Amitabh Bachchan.</b> Ghatkopar station was cleaned and the walls along with the staircase painted to raise awareness about social issues.
                        
                        </p> 
                                </div>


                                <!-- Third Featurette -->
                                <div class="featurette" id="contact">
                                    <img class="featurette-image img-circle img-responsive pull-left" src="images/santa.jpg" style="width: auto;height: 300px;" >
                                    <h2 class="" style="font-family: 'Arciform'; text-align: center;">Celebrate Christmas and Thanksgiving with orphanage kids
                                        <span class="text-muted"></span>
                                    </h2>
                                    <p class="lead">
                        In this event, we planned to  visit an orphanage/shelter homes to give away gifts,T-shirts and food to the children.  Volunteers will interact and play games with the kids and give them their moment of joy. We plan on providing cakes and ice-creams as a Christmas special. Also, as a Thanksgiving celebration we plan to make thank-you cards for the Indian Army with the help of these children.
                        </p>
                                </div>

                                   
                                <div class="featurette" id="services">
                                    <img class="featurette-image img-circle img-responsive pull-right" src="images/lgbt.jpg" style="width: auto;height: 300px;">
                                    <h2 class="" style="font-family: 'Arciform'; text-align: center;">Awareness campaign for LGBT Rights
                                        <span class="text-muted"></span>
                                    </h2>
                                    <p class="lead">We plan to organise street plays in malls, metro stations and various other public places, hold workshops, stick posters, distribute pamphlets and sign pledges to create awareness around this marginalised community of our society. All this is inspired with the idea to improve the socio- economic status of the members of the LGBT community and to help them gain acceptance within our society.
                                    </p>
                                </div>


                                <!-- Second Featurette -->
                               


            


                             <!--    <div class="featurette" id="services">
                                    <img class="featurette-image img-circle img-responsive pull-left" src="images/cl.jpg" style="width: auto;height: 300px;">
                                    <h2 class="" style="font-family: 'Arciform'; text-align: center;">Computer Literacy
                                        <span class="text-muted"></span>
                                    </h2>
                                    <p class="lead">Volunteers from team Parvaah will be conducting  sessions on basics of computers for underprivileged students at BMC schools. The students will also receive refreshments and booklets related to the same.
                                    </p>
                                </div> -->


               </div>
               <div class="col-lg-1"></div>

    </div>
        
</header>

                            <!-- Page Content -->
                           

        

                                <hr class="featurette-divider">



                               

</div>