<!-- <div class="container" style="height: 100vh;">
	<h1>
	
	COMING SOON

</h1>

</div> -->
<div  style="">
		<div class="" style="margin-top: 0%; margin-left: 2%;text-align: center;">
			
 		<a  ng-href="#!/competitionDetails" style="text-decoration: none; outline: 0;">
			<div  ng-repeat="preEvent in preEvents" style="background-image: url('images/{{preEvent.src}}'); background-size: cover;"  class="wow flipInY competition" ng-click="setPreEventData($index)" >
					
				<span  ng-click="setPreEventData($index)"><p style="line-height: 20px;font-weight: bold; font-size:15px;">{{preEvent.tag}}</p>{{preEvent.name}}</span>
					
			</div>
		</a>
		

		</div>

</div>