
<div style="background-image: url('images/shield_bg.jpg');">
	<div class="container-fluid" >
	<h2 style="text-align: center;">What is KJSCE Shield Cultural</h2>
	<p style="padding: 3%;  text-align: center;">
		The KJSCE Cultural Shield is the cultural leg of the year-long  inter-departmental competition -The KJSCE Shield.  Being the final lap in the race to attain bragging rights among the 5 departments of the college, these events induce some nail biting and nerve wracking moments among all the participants and attendees. A make or break hour for the departments, one is sure to witness some prodigious performances as all the departments put their best foot forward!

	</p>
</div>

<div class="" style="background: transparent; ">
		<div class="" style="background: transparent;    text-align: center; ">
			
 		<a  ng-href="#!/competitionDetails" style=" text-decoration: none; outline: 0;">
			<div ng-repeat="competition in competitions" style="background-image: url('images/{{competition.src}}'); background-size: cover;"  class="wow flipInY competition shield" ng-click="setEventData($index)" >
					
				<span  ng-click="setEventData($index)"><p>{{competition.name}}<p></span>
					
			</div>
		</a>
		

		</div>
<hr>
<hr>
<hr>

</div>
	
</div>