<p><b>General Rules:</b>
<ul><li>Participants can perform anything ,on exceeding the time limit there will be a penalty.</li>
<li>Obscenity of any kind is not allowed and will lead to immediate disqualification.</li>
<li>Any kind of fluid, flame or heavy object(which may be dangerous) is not allowed on stage.</li>
<li>Participants have to mail the following things at kjscesymphony@somaiya.edu</li> 
<li>The type of talent and Prod List (List of production/prop material and music anything else brought by the participants ). The subject of the mail should be “Somaiya’s Got Talent”. The deadline for submission is 1st Feb, 2017 11:59 PM</li></ul>
<br>
<b>Elimination Rules:</b>
<ul><li>Time Limit: 3mins</li>
<li>Participants can perform a part of their final sequence for elims.</li></ul>
<br>
<b>Final Rules:</b>
<ul><li>Time Limit:7mins including stage setup and mic check if required.</li>
<li>No instruments will be provided by us.</li>
<li>A maximum of 5 mics will be provided.</li></ul>
<br>
<b>Judging Criteria:</b>
<ul><li>Stage Presence, Innovation, Energy,Overall Impact</li></ul>
</p>
